<button mat-raised-button (click)="logout()" color="primary" style="margin-right: 10px;">
    Logout
</button>
<mat-card>
    <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <label>Username</label>
                <input matInput [(ngModel)]="userData.username" placeholder="Username" type="text" name="Username"
                    required>
            </mat-form-field>
            <mat-form-field>
                <label>Password</label>
                <input matInput [(ngModel)]="userData.password" type="password" placeholder="Password" name="Password"
                    required>
            </mat-form-field>
            <mat-form-field>
                <label>Email</label>
                <input matInput [(ngModel)]="userData.email" type="email" placeholder="Email" name="Email" required>
            </mat-form-field>
            <mat-form-field>
                <label>Birthday</label>
                <input matInput [(ngModel)]="userData.birthday" type="date" placeholder="Birthday" name="Birthday">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="updateUser()" color="primary" style="margin-right: 10px;">
            Update
        </button>
        <button mat-raised-button (click)="resetUser()" color="primary" style="margin-right: 10px;">
            Reset
        </button>
        <button mat-raised-button (click)="backToMovie()" color="primary" style="margin-right: 10px;">
            Back to Movies
        </button>
    </mat-card-actions>
    <!-- Favorite Movies -->
    <mat-card-title>Favorite Movies</mat-card-title>
    <div class="favorite-movies-container">
        <mat-card class="favorite-movie-card" *ngFor="let movie of this.FavoriteMovies;">
            <mat-card-header>
                <mat-card-title>{{ movie.Title }}</mat-card-title>
                <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
            </mat-card-header>
            <img [src]="movie.imagePath" alt="{{ movie.Title }}" />
            <mat-card-actions>
                <button mat-raised-button (click)="removeFromFavorite(movie)" color="primary">
                    Remove from favorite
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-card>